@page
@model IdoShamir_EyalCohen_Connect4.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Ayal Cohen (ID: 316018282)</h3>
</div>

<div>
    <h3>Ido Shamir (ID: 208119354)</h3>
</div>
